/*

	IAT206w

	Team members: Felipe Andres, Soojin (Diana) Lee, Janice Ng, Yvonne Ren

	CSS file: Main Style

*/



/* ================================================================ 
	BASE START 
================================================================  */

html, body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	background-color: #03658C;
	color: white;
}

html, body, ul, ol, li, form, fieldset, legend,
h1, h2, h3, h4, h5, h6, p {
	border: 0;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
}

	/* ========== FONT ========== */

	/* Title */
	h2 {
		font-size: 1.3em;
		font-weight: 600;
		padding-bottom: 2em;
	}

	/* Intro Content */
	h3 {
		font-size: 1.2em;
		font-weight: 400;
		line-height: 200%;
	}

	/* Text */
	p {
		font-size: 1em;
		line-height: 150%;
		padding-bottom: 1.5em;
	}

/* ================================================================ 
	BASE END 
================================================================  */



/* ================================================================ 
	GRID START
================================================================  */

/* ========== CONTAINER ========== */

.container {
	max-width: 1280px;
	margin: 0em auto;
}

/* ================================================================ 
	GRID END
================================================================  */



/* ================================================================ 
	LAYOUT START
================================================================  */

/* ========== CONTENT ========== */

.intro {
	text-align: center;
	max-width: 1200px;
	padding: 3em;
	margin: 4em;
	overflow: hidden;
}

.sections {
	text-align: center;
	font-size: 1.5em;
	margin-top: 3em;
}

	.imagewrapper {
		margin-top: 4em;
	}

	.images, .videos {
		text-align: center;
		margin: 2em 0;
	}

.content {
	padding: 0 8em;
}

.top {
	text-align: center;
	font-size: 1.2em
}

.home {
	font-size: 1.2em
}

.images p, .videos p {
	text-align: center;
	font-size: 1em;
}

/* ========== HEADER ========== */

header {
	text-align: center;
	margin: 4em 0;
}

	nav ul li {
		display: inline;
		font-size: 1em;
		padding: 2em;
	}

/* ========== FOOTER ========== */

footer {
	padding: 1.5em 8em;
	margin-top: 4em;
	background-color: #333333;
}

	footer p {
		font-size: .8em;
		line-height: 2em;
	}

/* ================================================================ 
	LAYOUT END
================================================================  */



/* ================================================================ 
	LINKS START 
================================================================  */

/* ========== LINKS ========== */

a {
	color: #C7C7C7;
	text-decoration: none;

	/* ========== FADE TRANSITION ========== */
	-webkit-transition:color .3s ease-out, background .5s ease-in;
	-moz-transition:color 	.3s ease-out, background .5s ease-in;
	-o-transition:color 	.3s ease-out, background .5s ease-in;
  	-ms-transition:color 	.3s ease-out, background .5s ease-in;
  		transition:color 	.3s ease-out, background .5s ease-in;
}

	a:hover {
		color: #A60A0A;
	}

	.onpage {
		color: #C7C7C7;
	}

/* ================================================================ 
	LINKS END 
================================================================  */





/* ========== VIDEOS ========== */

/* =========================================================
 * Video Responsive CSS Styles
 * Based on code found here: http://amobil.se/2011/11/responsive-embeds/
 * ========================================================= */

.video {
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border: 1.9px solid #5ECBF4;
}

	.video iframe,
	.video object,
	.video embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    border: none;
	}